<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="message" class="com.demo.spring.Message">
		<property name="header" value="Tea Break!" />
		<property name="body" value="We will go for break now." />

	</bean>

	<bean id="mail" class="com.demo.spring.Mail">
		<property name="fromAddress" value="all" />
		<property name="toAddress" value="trainer" />
		<property name="message" ref="message" />
	</bean>
</beans>
